body{
  background: #fefefe;
  margin: 0;
  padding: 0;
  font:1em/1.3em Arial, Tahoma, "Trebuchet MS", sans-serif;
  color: #272727;
}
img{
  margin: 0;
  padding: 0;
  max-width: 250px;
  max-height: 270px;
  vertical-align: middle;
  border: none;
}
.pos{
   word-spacing: 20px;
   tab-size: 16;
}
.main{
  display: flex;
  display: webkit-box;
  display: webkit-flex;
  display: -ms-flexbox;
  max-height: 3500px;
  max-width: 1000px;
  margin: 1px auto;
  flex-direction: row;
  justify-content:center;
  align-items:flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}


.bl{
  padding: 5px 12px;
  border:1px solid #ddd;
  background: #fffde1;
  border-radius: 3px;
  margin: 10px;
  width: 260px;

}
